#faveListPageContainer {
    background-color:red;
    height: 100px;

    }
    ::-webkit-scrollbar{
        width:  10px;
        height: 10px;
    }
    
    
    #headerfaveList {
        background-color: purple;
        height: 100px;
    }
    
    #menufaveList {
        background-color:#10a7c2;
    }
    

    .main {
        display: flex;
        align-items: center;
        width: 100%;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    