.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    min-height: 110vh;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.MenuButton{
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
  margin-right: 50px;
  font-size: 30px;
  
}
.MenuButton:hover{
  background: gray;
}

.HomeButton:hover{
  background-color: peru;
}
.RankingButton:hover{
  background-color: peru;
}

.AccountButton{
  margin-top: 200px;
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
  margin-right: 50px;
  font-size: 30px;
}
.AccountButton:hover{
  background: gray;
}
.ProfileButton:hover{
  background-color: peru;
}
.MyListButton:hover{
  background-color: peru;
}
.SettingButton:hover{
  background-color: peru;
}


