.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu main main main main main';
    background-color: #1B6FA8;
    min-height: 90vh;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    overflow-x: auto;
    outline: none;
}
#item_1{
  background-color: whitesmoke;
  border: 1px solid #1f1f1f;
}
#item_2{
  background-color:#10a7c2;
  width: 250px;
}

#item_3{
  color: whitesmoke;
  overflow-y: hidden;
}

#cont-read{
    text-align: left;
    margin-left: 20px;
    font-weight: 10;
}

.cont_read_container{
  background-color:rgb(32,32,32);
  height: 100%;
}

#reading{
    color: #ff0080;
}

.book-row{
    display: flex;
    overflow-x: auto;
    gap: 50px;
    margin: 20px;
}

::-webkit-scrollbar{
  width:  10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
  padding: 1px;
  width: 10px;
}

.book-block{
    flex-shrink: 0;
    width: 256px;
    height: 490px;
    margin-bottom: 5px;
    border: 2px solid rgb(32,32,32);
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: 8px;
}

.book-block:hover{
  border: 2px solid rgb(32,32,32);
  border-radius: 8px;
  background-color: antiquewhite;
}

.book-block > img{
  width: 256px;
  height: 256px;
  object-fit: cover;
}

#rec_title{
  font-size: 20px;
  background-color: #1B6FA8;
  height: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

#description{
  font-size: 20px;
  color: black;
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.menu {
  outline: none;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  overflow: hidden;
  color: whitesmoke;
}

.MenuButton{
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
}
.MenuButton:hover{
  background: gray;
}
.HomeButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;

}
.HomeButton:hover{
  background-color: peru;
}
.MostPopularButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;

}
.MostPopularButton:hover{
  background-color: peru;
}

.AccountButton{
  margin-top: 50px;
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
}
.AccountButton:hover{
  background: gray;
}
.ProfileButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
  
}
.ProfileButton:hover{
  background-color: peru;
}
.MyFavoriteListButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
 
}
.MyFavoriteListButton:hover{
  background-color: peru;
}
.SettingButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
  
}
.SettingButton:hover{
  background-color: peru;
}

