.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #1B6FA8;
    padding: 10px;
    min-height: 110vh;
    outline: none;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    overflow-x: auto;
    outline: none;
}

#item_5{
  background-color: #181818;
  color: whitesmoke;
  padding: 25px;
}

#cont-read{
    text-align: left;
    margin-left: 20px;
    font-weight: 10;
}

#reading{
    color: pink;
}

.book-row{
    display: flex;
    overflow-x: auto;
    gap: 50px;
    margin: 20px;
    height: 70%;
}

::-webkit-scrollbar{
  width:  10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
  width: 10px;
}

.book-block{
    flex-shrink: 0;
    width: 256px;
    height: 350px;
    margin-bottom: 5px;
}

.book-block > img{
  width: 256px;
  height: 256px;
  object-fit: cover;
}

#rec_title{
  font-size: 20px;
  background-color: rgb(57, 151, 182);
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
}


.menu {
  outline: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  width: 300px;
  height: 300px;

}

.MenuButton{
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
}
.MenuButton:hover{
  background: gray;
}
.HomeButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;

}
.HomeButton:hover{
  background-color: peru;
}
.MostPopularButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;

}
.MostPopularButton:hover{
  background-color: peru;
}

.AccountButton{
  
  margin-top: 50px;
  background-color: transparent;
  border-radius: 1px;
  text-align: left;
  text-indent: 10px;
}
.AccountButton:hover{
  background: gray;
}
.ProfileButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
  
}
.ProfileButton:hover{
  background-color: peru;
}
.MyFavoriteListButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
 
}
.MyFavoriteListButton:hover{
  background-color: peru;
}
.SettingButton{
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  text-indent: 30px;
  
}
.SettingButton:hover{
  background-color: peru;
}


