    .column{
    display: flex;
    align-items: left;
    padding: 20px;
     width: 100%;
    }

   .menuMangaPage{
    width: 250px;
    }

.column{
 display: flex;
 align-items: left;
 padding: 20px;
  width: 100%;
}
.left-image{
 float: left;
 margin-top: 50px;
 margin-left:20px;
 margin-right: 20px;
 flex-direction: column;
}
.ReadMangaButton{
 margin-top: 20px;
 max-width: 200px;
 max-height: 50px;
 margin-left: 20px;
}
.description{
    font-size: 25px;
    color: black;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: left;
}
.genre{
    font-size: 25px;
    margin-right: 10px;   
}

#AddtoFL {
    background-color: #10a7c2;
    color: whitesmoke;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    width: 200px;
    
}