.p1 { grid-area: header; }
.p2 { grid-area: menu; }
.p3 { grid-area: main; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu  main main main main main'
      'menu main main main main main';
    background-color: #1B6FA8;
    min-height: 90vh;
    grid-template-columns: 250px auto;

}
#p_1{
    background-color: whitesmoke;
    border: 1px solid #1f1f1f;
  }
  #p_2{
    background-color:#10a7c2;
    width: 250px;
  }
  
  #p_3{
    color: whitesmoke;
    overflow-y: hidden;
    
  }
  .introduce-input {
    margin-top: 50px;
    width: 1050px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: top;
    resize: none;
    display: flex;
    margin-left: 185px;
  }
  .savebutton{
    max-width: 350px;
    margin-top: 20px;
  }
 .profilepic{
  display: flex;
  margin: 20px;
  margin-left: 185px;
  border-radius: 50%;
 }
.pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.username{
  display: block;
  margin-left: 20px;
  text-align:  left;
  width: 500px;
}

.cpbutton{
  width: 200px;
  font-size: 20px;
  background-color: gold;
}
.cpbutton-area{
 text-align: left;
 margin-left: 185px;
}
.deletebutton{
  background-color: red;
}